# Configuración de Infraestructura (Docker)
POSTGRES_PORT=5433
APP_PORT=8080

# Credenciales de Base de Datos (PostgreSQL Container)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=gestorot

# Entorno de Ejecución
ASPNETCORE_ENVIRONMENT=Development

# Cadenas de Conexión
# ---------------------------------------------------------
# Local (DB en Docker):
# ConnectionStrings__DefaultConnection="Host=localhost;Port=5433;Database=gestorot;Username=postgres;Password=password;Include Error Detail=true"

# Docker (API en Docker):
ConnectionStrings__DefaultConnection="Host=db;Port=5432;Database=gestorot;Username=postgres;Password=password;Include Error Detail=true"

# Supabase (Opcional):
# SUPABASE_CONNECTION_STRING=""

# Seguridad y Cifrado
ENCRYPTION_KEY="CAMBIAR_POR_UNA_CLAVE_SEGURA_EN_PROD"

